services:
  web:
    depends_on:
      - mysql
    build:
      context: .
      dockerfile: ./docker/tukutuku/Dockerfile
      args:
        - PHP_VERSION=8.3
        - NODE_VERSION=lts
    image: cambis/silverstripe-module/web:php8.3-nodelts
    environment:
      - SS_ENVIRONMENT_TYPE=dev
      - SS_DATABASE_SERVER=mysql
      - SS_DATABASE_NAME=SS_mysite
      - SS_DATABASE_USERNAME=root
      - SS_DATABASE_PASSWORD=
    volumes:
      - .:/app

  mysql:
    image: mysql:8.0
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
    volumes:
      - mysql:/var/lib/mysql

volumes:
  mysql:
  caddy_config:
  caddy_data:
  